/* ここに記載する */
table {
  width: 100%;
  border-spacing: 0px; /*①スペーシングを０にして白余白を消去*/
}
table td {
  width: 100%;
  text-align: center;
}
.resizeimage {
  max-width: 80vw; 
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*②各製品のclassを作成*/
.tr_kintone{
 background-color:  #ffbf00;
}
.tr_office{
  background-color: #1992d4;
}
.tr_garoon{
  background-color: #003399;
}
.tr_mailwise{
  background-color: #df4356;
}

/* 以下は修正しない */
html,
body {
  height: 100%;
  margin: 0;
}
header {
  background-color: #1aaedb;
  border-bottom: #ead963 6px solid;
}
.container {
  padding: 16px;
  padding-left: 120px;
}
header h1,
header h2 {
  margin: 0;
  color: #fff;
  line-height: 1;
}
header h1 {
  padding: 30px 0 5px 0;
  font-size: 24px;
  border-bottom: 1px dotted #fff;
  font-weight: 500;
}
header h2 {
  padding: 6px 0 0 0;
  font-size: 14px;
  font-weight: 400;
}
