html {
	font-size: 62.5%;
}

.title {
	padding: 1rem 2rem;
	border-top: 3px dotted blue;
	border-bottom: 3px dotted blue;
}

table {
	width: 100%;
	border-spacing: 0;
}

table th {
	border-bottom: solid 2px blue;
	padding: 1rem 0;
}

table td {
	border-bottom: solid 2px rgb(118, 118, 231);
	padding: 1rem 0;
}